/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}

/* 會員註冊 */
.register{
    position: fixed;
    z-index: 999;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,.8);
    display: none;
}
.registerBlock{
    position: absolute;
    top:10vh;
    left: 35vw;
    width: 30vw;
    height: 80vh;
    background-color: white;
    border: 1px solid rgba(30,30,30);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}

/* 標題 */
.registerTitle{
    width: 100%;
    height: 15%;
    /* background-color: rgb(0, 255, 255); */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(30,30,30);
    padding-left: 10%;
    box-sizing: border-box;
    align-items: center;
}
.registerText{
    height: 30%;
    /* background-color: aquamarine; */
    letter-spacing: 2%;
    font-family:'Poppins',  'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-flow: wrap row;
    /* margin-left: 10%; */
    justify-content: center;
    position: relative;
    cursor: pointer;
}
/* 畫線 */
.registerText:nth-child(2):after{
    content:" ";
    display:block; 
    width: 100%;
    height: 3px;
    background-color:rgb(30, 30, 30);
    transition: .4s .2s;
}
.registerClose{
    width: 20%;
    height: 100%;
    background-image: url('./icon/close.svg');
    background-size: 70% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* 內容 */
.registerContent{
    width: 100%;
    height: 85%;
    /* background-color: rgb(242, 255, 0); */
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: wrap row;
    box-sizing: border-box;
    padding: 10% 0;
}
.registerInput{
    width: 80%;
    height: 15%;
    /* background-color: rgb(0, 255, 140); */
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgb(30,30,30);
    font-family: 'Poppins',  'Noto Sans TC', sans-serif;
    font-size: 1rem;
    letter-spacing: 5%;
    box-sizing: border-box;
    padding-left: 5%;
}
.registerInput:focus{
    outline: none;
}
.registerInput:nth-child(1){
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
}
/* 會員條件 勾選 */
.registerInput:nth-child(4){
    height: 5%;
    border: 0px ;
    padding-left: 0%;
    justify-content: flex-start;
}
/* sign up */
.registerInput:nth-child(5){
    padding-left: 0%;
    padding-right: 0%;
    cursor: pointer;
}
.registerInput::placeholder{
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    color: rgb(200,200,200);
}
.registerContent>button{
    background-color:  rgb(30,30,30);
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2%;
}

/* 會員登入 */
.signin{
    position: fixed;
    z-index: 999;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,.8);
    display: none;
}
.signinBlock{
    position: absolute;
    left: 35vw;
    top: 20vh;
    width: 30vw;
    height: 60vh;
    background-color: white;
    border: 1px solid rgba(30,30,30);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}
.signinTitle{
    width: 100%;
    height: 20%;
    /* background-color: rgb(0, 255, 255); */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(30,30,30);
    padding-left: 10%;
    box-sizing: border-box;
    align-items: center;
}
.signinText{
    height: 30%;
    /* background-color: aquamarine; */
    letter-spacing: 2%;
    font-family:'Poppins',  'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-flow: wrap row;
    /* margin-left: 10%; */
    justify-content: center;
    position: relative;
    cursor: pointer;
}
/* 畫線 */
.signinText:nth-child(1):after{
    content:" ";
    display:block; 
    width: 100%;
    height: 3px;
    background-color:rgb(30, 30, 30);
    transition: .4s .2s;
}
.signinClose{
    width: 20%;
    height: 100%;
    background-image: url('./icon/close.svg');
    background-size: 70% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
/* 內容 */
.signinContent{
    width: 100%;
    height: 80%;
    /* background-color: rgb(242, 255, 0); */
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: wrap row;
    box-sizing: border-box;
    padding: 10% 0;
}
.signinInput{
    width: 80%;
    height: 25%;
    /* background-color: rgb(0, 255, 140); */
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgb(30,30,30);
    font-family: 'Poppins',  'Noto Sans TC', sans-serif;
    font-size: 1rem;
    letter-spacing: 5%;
    box-sizing: border-box;
    padding-left: 5%;
}
.signinInput:focus{
    outline: none;
}
.signinInput:nth-child(1){
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
}
/* 會員登入 */
.signinInput:nth-child(3){
    padding-left: 0%;
    padding-right: 0%;
    cursor: pointer;
}
.signinInput::placeholder{
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    color: rgb(200,200,200);
}
.signinContent>button{
    background-color:  rgb(30,30,30);
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2%;
}

/* top */
.topBtn>a{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color:rgb(30, 30, 30);
    z-index: 501;
    bottom: 20px;
    right: 20px;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 5s 1s;
    background-image: url('./icon/top_w.svg');
    background-size: auto 100%;
}

/* 導覽列 ---------------------------------------------------------------------- */
.navbar{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(70, 70, 70);
    position:fixed;
    z-index: 500;
    top:0;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    transition-duration: .8s; 
}
.navbarL{
    display: flex;
    margin-left: 3vw;
}
.navbarLogo>a{
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color:rgb(30, 30, 30);
    cursor: pointer;
    text-decoration: none;
}
.navbarR{
    display: flex;
    margin-right: 3vw;
    /* background-color: aqua; */
    align-items: center;
}
.navbarText>a{
    text-decoration: none;
    color:rgb(30, 30, 30);

    display: flex;
    flex-flow: nowrap column;
    align-items: flex-start;
    margin: 1vw;

    font-size: .9rem;
    font-family: 'Poppins',  'Noto Sans TC', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;

    cursor: pointer;
}
.search input{
    /* background-color: bisque; */
    width: 30px;
    height: 30px;
    margin: 1vw;
    background-image: url('./icon/search_2px.svg');
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position: 95%;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 20px;
    transition: .3s;
    padding-left: 15px;
    padding-right: 40px;
    overflow: hidden;
    font-size: .9rem;
    font-family: 'Poppins',  'Noto Sans TC', sans-serif;
    font-weight: 400;
}
.search input:hover{
    width: 150px;
}
.search input:focus{
    width: 150px;
    outline: none;
}
/* 選項 畫線 */
.navbarText>a::after{
    content:" ";
    display:block; 
    width: 0%;
    height: 3px;
    background-color:rgb(30, 30, 30);
    transition: .4s .2s;
}
.navbarText>a:hover::after{
    width:100%;
}
.navbarImg{
    background-image: url('./icon/user.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin: .3vw;
    cursor: pointer;
}
.navbarSave{
    background-image: url('./icon/save_navbar.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin: .3vw;
    cursor: pointer;
}


/* 中間 ---------------------------------------------------------------------- */
.content{
    display: flex;
    /* background-color: rgb(202, 255, 128); */
    margin-top: 120px; /* navbar height */
    width: 100vw;
    justify-content: space-between;
    flex-flow: wrap row;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}
/* 1. 關於 about -------------------------------------------------------------------------------- */
.about{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 200px;
    margin-top:150px;
    padding-bottom:30px;
    padding-left: 3vw;
    padding-right: 3vw;
    align-items: flex-end;
    justify-content: space-between;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    color:rgb(30, 30, 30);
    /* background-color: aqua; */
    border-bottom: 1px solid rgba(30,30,30);
}
.aboutText{
    display: flex;
    font-size: 4rem;
    background-color: rgba(0, 255, 255,0);
    line-height:5rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /*行數*/
    -webkit-box-orient: vertical;
    white-space: normal;
}
.aboutCon{
    width: 33.33vw;
    border-right: 1px solid rgba(30,30,30);
    /* height: 60vh; */
    display: flex;
    flex-flow: column;
    overflow: hidden;
    /* background-color: rgb(225, 214, 255); */
    padding: 3vw;
    box-sizing: border-box;
}
.aboutImg{
    width: 100%;
    height: 300px;
    background-position: 50% 50%;
    background-size: 130% auto;
    background-repeat: no-repeat;
    /* background-color: aqua; */
}
.aboutImgOne{
    background-image: url('./img/about1.jpeg');
}
.aboutImgTwo{
    background-image: url('./img/about2.jpeg');
}
.aboutImgThree{
    background-image: url('./img/about3.jpeg');
}
.aboutTitle{
    font-size: 2rem;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 5vh;
    margin-bottom: 3vh;
    /* border-bottom: 1px solid rgba(30,30,30); */
    /* background-color: antiquewhite; */
}
.aboutcontent{
    display: flex;
    font-size: .9rem;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 3vh;
    line-height: 1.5rem;
    color: rgba(70,70,70);
}

/* 尾端 footer ---------------------------------------------------------------------- */
.footer{
    background-color: rgb(30, 30, 30);
    width:100vw;
    height: 70px;
    display: flex;
    flex-flow: column ;
    align-items:center;
    align-content:center;
    justify-content: center;
    transition-duration: 2s; 
}
/* 
.footerM{
    width: 60vw;
    height: 200px;
    border-bottom: 1px solid rgb(70, 70, 70);
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footerMnav{
    display: flex;
    align-items: center;
    flex-flow: nowrap row;
    justify-content: space-between;
    width: 60vw;
    height: 45px;
}
.footerTitle{
    width: 10vw;
}
.footerTitle>a{
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-family:'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.footerText{
    width: 10vw;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}
.footerText>a{
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-family:'Poppins', sans-serif;
    font-size: .7rem;
    font-weight: 300;
    letter-spacing: .5px;
} */

.footerB{
    width: 94vw;
    height: 50px;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    font-family:'Poppins', sans-serif;
    font-size: .4rem;
    font-weight: 300;
    color: rgb(175, 175, 175);
    letter-spacing: .3px;
}
.footerBL{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.footerBR{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}